<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319068481312-km55rrqkco4nfof861ncqkuc7642c43i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319068481312-km55rrqkco4nfof861ncqkuc7642c43i</string>
	<key>API_KEY</key>
	<string>AIzaSyDRuFOBsuQSnBtA3juBTaMDY9WmL4vvlg4</string>
	<key>GCM_SENDER_ID</key>
	<string>319068481312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rxDart</string>
	<key>PROJECT_ID</key>
	<string>rxdart-66304</string>
	<key>STORAGE_BUCKET</key>
	<string>rxdart-66304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319068481312:ios:6e6cd61acf4ccb4facd945</string>
</dict>
</plist>